---
import BasketButton from '@elements/BasketButton.astro'
import Logo from '@elements/Logo.astro'
import OrderSteps from '@elements/OrderSteps.astro'

export interface Props {
  logo?: string
  nav?: Array<{
    name: string
    href?: string
    include?: string
  }>
  basketOpened?: boolean | undefined
}

const {
  logo = '/images/logos/logo-full-black.svg',
  nav = [
    {
      name: 'Меню',
      href: '/#menu',
    },
    {
      name: 'Акции',
      href: '/promotions',
      include: '/promotions',
    },
    {
      name: 'Доставка и оплата',
      href: '/delivery',
    },
    {
      name: 'О нас',
      href: '/about',
    },
    {
      name: 'Контакты',
      href: '/contacts',
    },
  ],
  basketOpened,
} = Astro.props
---

<!-- SINGLETON -->
<header class="header">
  <div class="header__inner">
    <e-popover-button
      class="header__menu-button"
      target="header-menu"
    >
      <span class="header__menu-button__line header__menu-button__line_1"></span>
      <span class="header__menu-button__line header__menu-button__line_2"></span>
      <span class="header__menu-button__line header__menu-button__line_3"></span>
    </e-popover-button>

    <e-popover
      class="header__menu"
      id="header-menu"
      data-outside
    >
      <div class="header__menu__inner">
        <Logo
          class="header__logo"
          src={logo}
        />
        <nav class="f-d-16-s header__nav">
          {
            nav.map((link) => {
              return (
                <a
                  class="header__nav__link"
                  href={link.href}
                  set:html={link.name}
                  data-include={link.include}
                />
              )
            })
          }
        </nav>
      </div>
    </e-popover>

    <div class="header__basket-wrapper">
      <BasketButton
        class="header__basket"
        opened={basketOpened}
      />
    </div>

    <OrderSteps class="header__order-steps" />
  </div>
</header>

<style is:global>
  .header {
    position: fixed;
    top: 0;
    left: 0;

    z-index: var(--z-header);

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: var(--header-height);
    padding: 0 var(--screen-horisontal-padding);
  }

  .header__inner {
    position: relative;

    width: 100%;
    padding: 0 2.4rem;
    height: 7.2rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    border-radius: var(--border-radius-2);
    background-color: var(--color-primary-2);

    @media (max-width: 768px) {
      padding: 0 0.8rem;
      height: 4.8rem;

      border-radius: var(--border-radius-1);
    }
  }

  .header__menu-button {
    --type: toggle;

    @media (min-width: 769px) {
      display: none;
    }

    @media (max-width: 768px) {
      --height: 1.2rem;

      position: relative;
      z-index: 1;

      display: flex;
      align-items: center;
      justify-content: center;

      border-radius: 0.5rem;

      width: 3.2rem;
      height: 3.2rem;

      background-color: var(--color-primary-3);

      transition: opacity var(--morph-duration);

      .order-page & {
        opacity: 0;
        pointer-events: none;
      }
    }
  }
  .header__menu-button__line {
    position: absolute;

    width: 56%;
    height: 0.15rem;

    background-color: var(--color-primary-2);
    border-radius: 0.1rem;

    transition: transform var(--duration-button);
  }

  .header__menu-button__line_1 {
    transform: translateY(calc(var(--height) / 2 * -1 + 100%)) rotate(0deg);

    .header__menu-button.opened & {
      transform: translateY(0px) rotate(135deg);
    }
  }

  .header__menu-button__line_2 {
    transform: scaleX(1);

    .header__menu-button.opened & {
      transform: scaleX(0) rotate(0deg);
    }
  }

  .header__menu-button__line_3 {
    transform: translateY(calc(var(--height) / 2 * 1 - 100%)) rotate(0deg);

    .header__menu-button.opened & {
      transform: translateY(0px) rotate(-135deg);
    }
  }

  .header__menu {
    --history: true;
    --click-outside: true;
    --escape: true;
    --dominance: 1;

    @media (min-width: 769px) {
      display: contents !important;
    }

    @media (max-width: 768px) {
      position: fixed;
      top: 0;
      right: 0;

      z-index: -1;

      width: 100%;
      height: 100%;

      display: none;
      opacity: 1 !important;
      transition: opacity var(--duration-button);

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        background-color: rgba(26, 26, 26, 0.8);

        transition: opacity var(--duration-button);
        opacity: 0;
      }

      &.opened::before {
        opacity: 1;
      }
    }
  }

  .header__menu__inner {
    @media (min-width: 769px) {
      display: contents !important;
    }

    @media (max-width: 768px) {
      position: absolute;
      left: var(--screen-horisontal-padding);
      top: var(--header-height);

      display: flex;
      flex-direction: column;
      align-items: center;

      width: calc(100% - var(--screen-horisontal-padding) * 2);

      padding: var(--screen-horisontal-padding);
      padding-top: 3.2rem;

      background-color: var(--color-primary-2);
      border-radius: 1rem;

      transition: clip-path var(--duration-button);
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

      overflow: hidden auto;

      .header__menu.opened & {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
      }
    }
  }

  .header__logo {
    @media (max-width: 768px) {
      margin-bottom: 3.2rem;
    }
  }

  .header__nav {
    display: flex;
    gap: 2.4rem;
    margin-left: auto;

    @media (min-width: 769px) {
      transition: opacity var(--morph-duration);

      .order-page & {
        opacity: 0;
        pointer-events: none;
      }
    }

    @media (max-width: 768px) {
      width: 100%;
      flex-direction: column;
      margin-left: unset;
      margin-right: unset;
      gap: 1.6rem;
    }
  }

  .header__nav__link {
    transition: color var(--duration-button);

    &.current {
      color: var(--color-primary-1);
    }

    @media (min-width: 769px) {
      color: var(--color-primary-3);

      @media (hover: hover) {
        &:hover {
          color: var(--color-primary-1);
        }
      }
    }

    @media (max-width: 768px) {
      color: var(--color-primary-1);

      @media (hover: hover) {
        &:hover {
          color: var(--color-primary-3);
        }
      }
    }
  }

  .header__basket-wrapper {
    transition: opacity var(--morph-duration);

    .order-page & {
      opacity: 0;
      pointer-events: none;
    }

    @media (min-width: 769px) {
      width: 23rem;
      display: flex;
      justify-content: flex-end;
    }
  }

  .header__order-steps {
    position: absolute;

    transition: opacity var(--morph-duration);
    opacity: 0;
    pointer-events: none;

    .order-page & {
      opacity: 1;
      pointer-events: auto;
    }

    @media (min-width: 769px) {
      right: 2.4rem;
    }

    @media (max-width: 768px) {
      left: 50%;
      transform: translateX(-50%);
    }
  }
</style>

<script>
  import type { PopoverElement } from 'aptechka/popover'

  const linkElements = document.querySelectorAll('.header__nav__link')
  const menuElement = document.querySelector<PopoverElement>('.header__menu')

  linkElements.forEach((link) => {
    link.addEventListener('click', () => {
      menuElement?.close()
    })
  })
</script>
