---
import Image from '@elements/Image.astro'
import Energy, { type Props as EnergyPropsProps } from '@elements/Energy.astro'
import SliderButton from '@elements/SliderButton.astro'
import ProductButton from '@elements/ProductButton.astro'
import Price from '@elements/Price.astro'
import Labels, { type Props as LabelsPropsProps } from '@elements/Labels.astro'
import SliderBullets from '@elements/SliderBullets.astro'
import ProductVariants from '@elements/ProductVariants.astro'
import ProductFeature, { type ProductFeatureIcon } from '@elements/ProductFeature.astro'
import type { MenuProductStat } from './MenuProduct.astro'
import type { BasketStoreItem, ProductVariant } from '@utils/types'
import Button from './Button.astro'

export const modal = '#product-details'

export interface MenuProductSetItem
  extends Pick<BasketStoreItem, 'description' | 'image' | 'name' | 'pid' | 'href'> {
  feature?: ProductFeatureIcon | undefined | false
}

export interface MenuProductDetailsData extends Omit<BasketStoreItem, 'image'> {
  feature?: ProductFeatureIcon | undefined | false
  oldPrice?: number | undefined | false
  categories: Array<string>
  subcategories?: Array<string> | undefined | false
  labels?: LabelsPropsProps['list'] | undefined | false
  stats: Array<MenuProductStat>
  variants?: Array<ProductVariant> | undefined | false
  type: 'set' | 'simple' | 'variants'
  energy: Omit<EnergyPropsProps, 'class'>
  images: Array<string>
  setItems?: Array<MenuProductSetItem> | undefined | false
  counter?: number
}

export interface Props extends Partial<MenuProductDetailsData> {
  class?: string
}

const {
  class: className,
  pid = '1',
  type = 'simple',
  price = '1000',
  oldPrice = '2000',
  images = ['/images/food/1.jpg', '/images/food/2.jpg'],
  labels = [
    { value: 'Новинка', color: '#1A8704' },
    { value: 'Акция 10%', color: '#E53935' },
  ],
  feature = 'spicy',
  name = 'Филадельфия фреш',
  description = 'Филе лосося, сливочный сыр, свежий огурец',
  energy = { proteins: '111', fats: '111', carbohydrates: '111', calories: '111' },
  stats = [{ title: 'Вес', value: '1 245 г.', variantProp: 'size' }],
  variants = [{ name: '4 шт.' }, { name: '8 шт.' }],
  setItems = [
    {
      image: '/images/food/1.jpg',
      pid: '5',
      name: 'Филадельфия фреш, 8 шт.',
      description: 'Филе лосося, сливочный сыр, огурец',
      feature: 'spicy',
      href: '/products/simple',
    },
    {
      image: '/images/food/2.jpg',
      pid: '6',
      name: 'Филадельфия фреш, 8 шт.',
      description: 'Филе лосося, сливочный сыр, огурец',
      feature: 'spicy',
      href: '/products/simple',
    },
    {
      image: '/images/food/3.jpg',
      pid: '7',
      name: 'Филадельфия фреш, 8 шт.',
      description: 'Филе лосося, сливочный сыр, огурец',
      feature: 'spicy',
      href: '/products/simple',
    },
    {
      image: '/images/food/1.jpg',
      pid: '7',
      name: 'Филадельфия фреш, 8 шт.',
      description: 'Филе лосося, сливочный сыр, огурец',
      feature: 'spicy',
      href: '/products/simple',
    },
  ],
  counter,
  ...rest
} = Astro.props
---

<!-- 
Связывает кнопки "В корзину" и кнопку счетчика.

Изначальное количество можно указать в атрибуте counter
<e-product-button counter="10">

Если функционал не нужен, можно тег просто переименовать в div
-->
<e-product-details
  {...rest}
  class:list={['product-details', className]}
  data-type={type}
>
  <div class="product-details__content">
    <div class="product-details__text">
      <h1 class="f-d-24-s f-m-18-s product-details__title">
        <span set:html={name} />
        {
          feature && (
            <ProductFeature
              icon={feature}
              class="product-details__title__icon"
            />
          )
        }
      </h1>

      {
        description && (
          <p
            class="f-d-16-r f-m-14-r product-details__description"
            set:html={description}
          />
        )
      }
    </div>

    {
      setItems && type === 'set' && (
        <div class="product-details__set">
          {setItems.map((item) => {
            return (
              <a
                href={item.href}
                target="_blank"
                class="product-details__set__item"
              >
                <Image
                  src={item.image}
                  class="product-details__set__item__image"
                />
                <div class="product-details__set__item__text">
                  <div
                    class="f-d-18-s f-m-14-s product-details__set__item__title"
                    set:html={item.name}
                  />
                  <div
                    class="f-d-16-r f-m-12-r product-details__set__item__description"
                    set:html={item.description}
                  />
                </div>
                {item.feature && (
                  <ProductFeature
                    class="product-details__set__item__feature"
                    icon={item.feature}
                  />
                )}
              </a>
            )
          })}
        </div>
      )
    }

    <e-billboard class="product-details__slider">
      {
        labels && (
          <Labels
            list={labels}
            class="product-details__labels"
          />
        )
      }

      <div class="product-details__slider__images">
        {
          images.map((image) => {
            return (
              <Image
                class="product-details__slider__image"
                data-billboard-item
                lazy
                cover
                lazyBackground
                src={image}
              />
            )
          })
        }
      </div>
      <div class="product-details__slider__bottom">
        <SliderBullets class="product-details__slider__bullets" />

        <div class="product-details__slider__buttons">
          <SliderButton type="prev" />
          <SliderButton type="next" />
        </div>
      </div>
    </e-billboard>

    <Energy class="product-details__energy" />

    <div class="product-details__stats">
      {
        stats.map((stat) => {
          return (
            <div class="f-d-18-s f-d-14-s product-details__stat">
              <div
                class="product-details__stat__title"
                set:html={stat.title}
              />
              <div
                class="product-details__stat__value"
                set:html={stat.value}
              />
            </div>
          )
        })
      }

      {
        variants && variants?.length && type !== 'set' ? (
          <ProductVariants
            class="product-details__variants"
            variants={variants}
            name={name}
          />
        ) : null
      }
    </div>

    <div class="product-details__bottom">
      <div class="product-details__bottom__first">
        <ProductButton
          class="product-details__product-button"
          placeholder={false}
          size={'always-big'}
          name={name}
          counter={counter}
        />
        <Price
          class="product-details__price"
          value={price}
          oldValue={oldPrice}
        />
      </div>
      <Button
        class="product-details__basket-button"
        theme={'big'}
        >В корзину</Button
      >
    </div>
  </div>
</e-product-details>

<style is:global>
  .product-details {
    width: 120rem;

    @media (max-width: 768px) {
      width: 100%;
    }
  }

  .product-details__content {
    position: relative;

    width: 100%;

    display: grid;

    .product-details[data-type='variants'] & {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr max-content max-content max-content;
      grid-template-areas:
        'slider text'
        'slider energy'
        'slider stats'
        'slider bottom';
      gap: 0rem 5rem;

      @media (max-width: 768px) {
        grid-template-columns: 100%;
        grid-template-rows: max-content max-content max-content max-content max-content;
        grid-template-areas:
          'slider'
          'text'
          'energy'
          'stats'
          'bottom';
        gap: 0rem;
      }
    }

    .product-details[data-type='simple'] & {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: max-content;
      grid-template-areas:
        'slider text'
        'slider .'
        'slider energy'
        'slider stats'
        'slider bottom';
      gap: 0rem 5rem;

      @media (max-width: 768px) {
        grid-template-columns: 100%;
        grid-template-rows: unset;
        grid-auto-rows: max-content;
        grid-template-areas:
          'slider'
          'text'
          'energy'
          'stats'
          'bottom';
        gap: 0rem;
      }
    }

    .product-details[data-type='set'] & {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: unset;
      grid-auto-rows: max-content;
      grid-template-areas:
        'slider text'
        'slider set'
        'slider .'
        'slider stats'
        'energy stats'
        'energy bottom';
      gap: 0rem 5rem;

      @media (max-width: 768px) {
        grid-template-columns: 100%;
        grid-template-rows: unset;
        grid-auto-rows: max-content;
        grid-template-areas:
          'slider'
          'text'
          'set'
          'energy'
          'stats'
          'bottom';
        gap: 0rem;
      }
    }
  }

  .product-details__text {
    grid-area: text;
  }

  .product-details__title {
    margin-bottom: 1.6rem;

    @media (max-width: 768px) {
      margin-bottom: 0.8rem;
    }
  }

  .product-details__description {
    margin-bottom: 1.6rem;

    @media (max-width: 768px) {
      margin-bottom: 2.4rem;
    }
  }

  .product-details__set {
    grid-area: set;

    display: grid;
    gap: 0.8rem;

    width: 100%;
    margin-bottom: 2.4rem;
  }

  .product-details__set__item {
    position: relative;

    display: flex;
    gap: 2.4rem;
    padding: 0.8rem;
    border: 0.1rem solid var(--color-secondary-1);
    border-radius: var(--border-radius-2);

    @media (hover: hover) {
      transition: background-color var(--duration-button);

      &:hover {
        background-color: var(--color-secondary-2);
      }
    }
  }

  .product-details__set__item__image {
    width: 9rem;
    height: 7rem;
    border-radius: var(--border-radius-1);
  }

  .product-details__set__item__text {
  }

  .product-details__set__item__title {
    margin-bottom: 0.8rem;

    @media (max-width: 768px) {
      margin-bottom: 0.4rem;
    }
  }

  .product-details__set__item__description {
  }

  .product-details__set__item__feature {
    position: absolute;
    top: 0.8rem;
    right: 0.8rem;
  }

  .product-details__slider {
    --autoplay: 4s;
    --duration: 0.3s;

    grid-area: slider;

    display: block;

    @media (min-width: 769px) {
      .product-details[data-type='set'] & {
        margin-bottom: 2.4rem;
      }
    }
  }

  .product-details__labels {
    position: absolute;
    left: 1rem;
    top: 1rem;

    z-index: 2;
  }

  .product-details__slider__images {
    display: grid;
    width: 100%;
    height: 46.3rem;

    overflow: hidden;
    border-radius: var(--border-radius-1);

    .has-length & {
      margin-bottom: 1.6rem;
    }

    @media (max-width: 768px) {
      height: 25rem;

      .has-length & {
        margin-bottom: 0.8rem;
      }
    }
  }

  .product-details__slider__image {
    grid-column: 1/1;
    grid-row: 1/1;

    transition: opacity var(--duration);

    opacity: 0;
    pointer-events: none;

    &.current {
      opacity: 1;
      pointer-events: auto;
    }
  }

  .product-details__slider__bottom {
    position: relative;

    width: 100%;
    height: 3.2rem;

    display: none;
    align-items: center;
    justify-content: center;

    .has-length & {
      display: flex;
    }

    @media (max-width: 768px) {
      height: max-content;
      margin-bottom: 1.6rem;
      justify-content: flex-end;
    }
  }

  .product-details__slider__bullets {
  }

  .product-details__slider__buttons {
    position: absolute;
    right: 0.8rem;

    display: flex;
    gap: 0.8rem;

    @media (max-width: 768px) {
      display: none;
    }
  }

  .product-details__energy {
    grid-area: energy;

    .product-details[data-type='variants'] &,
    .product-details[data-type='simple'] & {
      margin-bottom: 2.4rem;

      @media (max-width: 768px) {
        margin-bottom: 1.6rem;
      }
    }

    @media (min-width: 769px) {
      .product-details[data-type='set'] & {
        .energy__title {
          text-align: center;
        }

        .energy__pfc {
          margin-left: auto;
        }

        .energy__pfc::before {
          margin: 0 7rem;
        }
      }
    }

    @media (max-width: 768px) {
      padding-bottom: 1.6rem;
      margin-bottom: 1.6rem;
    }
  }

  .product-details__stats {
    grid-area: stats;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;

    height: max-content;
    margin-bottom: 2.4rem;

    border-top: 0.1rem solid var(--color-secondary-1);

    padding-top: 2.4rem;

    @media (max-width: 768px) {
      padding-top: 1.6rem;
    }
  }

  .product-details__stat {
    display: flex;
    gap: 1.2rem;
  }

  .product-details__stat__title {
    color: var(--color-secondary-3);
  }

  .product-details__stat__value {
  }

  .product-details__bottom {
    grid-area: bottom;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3.2rem;

    height: max-content;
    width: 100%;

    @media (max-width: 768px) {
      justify-content: space-between;
      flex-direction: column;
      gap: 2.4rem;
    }
  }

  .product-details__bottom__first {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .product-details__basket-button {
    --height: 4.3rem;
    min-width: 14rem;

    @media (max-width: 768px) {
      width: 100%;
    }
  }

  .product-details__price {
    font-size: 2.4rem;
    font-weight: 600;
  }

  .product-details__product-button {
    width: 12rem;
    height: 4.3rem;

    --color: var(--color-primary-2);
    --background-color: var(--color-functional-1);

    @media (max-width: 768px) {
      width: 10.9rem;
      height: 3.4rem;
      --padding: 0 0.6rem;
    }
  }
</style>

<script>
  import type { ProductButtonElement } from './ProductButton.astro.0.mts'

  export class MyElement extends HTMLElement {
    #basketButtonElement: HTMLElement | null = null
    #basketButtonNameElement: HTMLElement | null = null
    #productButtonElement: ProductButtonElement | null = null
    #inBasket = false

    protected async connectedCallback() {
      this.#basketButtonElement = this.querySelector('.product-details__basket-button')
      this.#basketButtonNameElement =
        this.#basketButtonElement?.querySelector('.button__name') || null
      this.#productButtonElement = this.querySelector('.product-details__product-button')

      await customElements.whenDefined('e-product-button')

      this.#productButtonElement?.addEventListener(
        'productButtonCounterChange',
        this.#counterChangeListener,
      )

      this.#basketButtonElement?.addEventListener('click', this.#basketButtonClickListener)

      if (this.#productButtonElement?.counter) {
        this.#updateButton(true)
      }
    }

    protected disconnectedCallback() {
      this.#productButtonElement?.removeEventListener(
        'productButtonCounterChange',
        this.#counterChangeListener,
      )
    }

    #toggle() {
      this.#updateButton(!this.#inBasket)
    }

    #updateButton(inBasket = false) {
      this.#inBasket = inBasket

      console.log(this.#inBasket)

      if (this.#inBasket) {
        this.#basketButtonElement?.classList.add('active')

        if (this.#basketButtonNameElement) {
          this.#basketButtonNameElement.textContent = 'В корзине'
        }
      } else {
        this.#basketButtonElement?.classList.remove('active')

        if (this.#basketButtonNameElement) {
          this.#basketButtonNameElement.textContent = 'В корзину'
        }
      }
    }

    #counterChangeListener = () => {
      if (
        (this.#inBasket && !this.#productButtonElement?.counter) ||
        (!this.#inBasket && this.#productButtonElement?.counter)
      ) {
        this.#toggle()
      }
    }

    #basketButtonClickListener = () => {
      const inBasket = this.#inBasket

      this.#toggle()

      if (!inBasket) {
        this.#productButtonElement?.set(1)
      } else {
        this.#productButtonElement?.set(0)
      }
    }
  }

  if (!customElements.get('e-product-details')) {
    customElements.define('e-product-details', MyElement)
  }

  declare global {
    interface HTMLElementTagNameMap {
      'e-product-details': MyElement
    }
  }
</script>
