---
import Button from '@elements/Button.astro'
import OrderForm from '@elements/OrderForm.astro'
import OrderContents from '@elements/OrderContents.astro'
import OrderTypeToggle from '@elements/OrderTypeToggle.astro'
import OrderCalendar from '@elements/OrderCalendar.astro'
---

<e-order class="order">
  <div class="order__start">
    <h1
      class="f-d-48-s f-m-18-s order__heading"
      set:html={'Оформление заказа'}
    />

    <OrderTypeToggle class="order__type" />

    <div class="order__flex">
      <OrderForm class="order__delivery-form" />
      <OrderForm
        class="order__pickup-form"
        type={'pickup'}
      />
      <OrderContents class="order__contents" />
    </div>
  </div>
  <div class="order__result order__result_pending">
    <h2
      class="f-d-48-s f-m-18-s order__result__heading"
      set:html="Ваш заказ проходит обработку"
    />
    <p
      class="f-d-24-s f-m-14-s order__result__description"
      set:html="Пожалуйста, ожидайте"
    />
  </div>
  <div class="order__result order__result_success">
    <h2
      class="f-d-48-s f-m-18-s order__result__heading"
      set:html="Ваш заказ успешно принят!"
    />
    <p
      class="f-d-24-s f-m-14-s order__result__description"
      set:html="Пожалуйста, ожидайте доставку"
    />
    <Button href="/">На главную Инари</Button>
  </div>
  <div class="order__result order__result_error">
    <h2
      class="f-d-48-s f-m-18-s order__result__heading"
      set:html={`К сожалению, Ваш заказ обработать не&nbsp;удалось`}
    />
    <p
      class="f-d-24-s f-m-14-s order__result__description"
      set:html={`Попробуйте повторить попытку позже, либо совершите заказ по&nbsp;нашему телефону <a href="tel:+ 7 (921) 999-84-22">+&nbsp;7&nbsp;(921)&nbsp;999-84-22</a>`}
    />
    <Button href="/">На главную Инари</Button>
  </div>
  <OrderCalendar />
</e-order>

<style is:global>
  .order {
    --gap: 1rem;

    display: block;

    padding: 0 var(--screen-horisontal-padding);
    padding-top: 3.2rem;
    padding-bottom: 15rem;

    @media (max-width: 768px) {
      --gap: 0.8rem;
      padding-top: 2.4rem;
      padding-bottom: 12rem;
    }
  }

  .order__start {
    .order.success &,
    .order.error &,
    .order.pending & {
      display: none;
    }
  }

  .order__heading {
    margin-bottom: 3.2rem;

    @media (max-width: 768px) {
      margin-bottom: 1.6rem;
    }
  }

  .order__type {
    display: flex;
    gap: 1rem;

    margin-bottom: 2.4rem;

    @media (max-width: 768px) {
      margin-bottom: 1.2rem;
    }
  }

  .order__flex {
    display: flex;
    gap: 7.9rem;

    @media (max-width: 768px) {
      flex-direction: column-reverse;
      gap: 1.6rem;
    }
  }

  .order__delivery-form {
    [data-order-type='pickup'] & {
      display: none;
    }
  }

  .order__pickup-form {
    [data-order-type='delivery'] & {
      display: none;
    }
  }

  /*
  --------------
  END
  --------------
  */

  .order__result {
    --height: 4.3rem;

    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 90rem;
    height: 72.8rem;
    margin: 0 auto;

    @media (max-width: 768px) {
      width: 100%;
      height: 30rem;
    }
  }

  .order__result_pending {
    .order.pending & {
      display: flex;
    }
  }

  .order__result_success {
    .order.success & {
      display: flex;
    }
  }

  .order__result_error {
    .order.error & {
      display: flex;
    }
  }

  .order__result__heading {
    display: block;
    margin-bottom: 0.8rem;
    text-align: center;

    @media (max-width: 768px) {
      margin-bottom: 0.4rem;
    }
  }

  .order__result__description {
    display: block;
    text-align: center;
    margin-bottom: 4rem;

    @media (max-width: 768px) {
      margin-bottom: 2.4rem;
    }

    a {
      color: var(--color-primary-3);
    }
  }
</style>

<script>
  import type { CalendarElement } from '@elements/Calendar.astro.0.mjs'
  import type { FormElement } from '@elements/Form.astro.0.mjs'
  import { morph } from '@globals/page'
  import type { InputGroupElement, InputGroupEvents } from '@lib/InputGroupElement'
  import { basketStore, type BasketStoreItem } from '@stores/basketStore'
  import { orderStore } from '@stores/orderStore'
  import { numberToPrice } from '@utils/number'
  import { ClassLinkedStatus } from 'aptechka/class-linked-status'
  import type { PopoverElement } from 'aptechka/popover'

  class OrderProduct {
    #element: HTMLElement
    #amountElement: HTMLElement
    #priceElement: HTMLElement

    #pid: string
    #price: number
    #amount: number

    constructor(data: BasketStoreItem) {
      this.#element = document.createElement('li')
      this.#element.className = 'order-contents__product'

      this.#element.innerHTML = `
        <div class="order-contents__product__title">${data.name}</div>
        <div class="order-contents__product__amount"></div>
        <div class="order-contents__product__price"></div>
      `

      this.#amountElement = this.#element.querySelector('.order-contents__product__amount')!
      this.#priceElement = this.#element.querySelector('.order-contents__product__price')!

      this.#pid = data.pid
      this.#price = data.price
      this.#amount = data.amount

      this.setAmount(this.#amount)
    }

    public get element() {
      return this.#element
    }

    public get pid() {
      return this.#pid
    }

    public get price() {
      return this.#price
    }

    public get totalPrice() {
      return this.#price * this.#amount
    }

    public get amount() {
      return this.#amount
    }

    public setAmount(number: number) {
      this.#amount = number
      this.#amountElement.textContent = this.#amount.toString()
      this.#priceElement.textContent = numberToPrice(this.#amount * this.#price)
    }
  }

  export class OrderElement extends HTMLElement {
    #formElements: Array<FormElement> = []

    #timeGroupElements: Array<InputGroupElement> = []

    #customDateInputElements: Array<HTMLInputElement> = []

    #calendarModalElement: PopoverElement | null = null
    #calendarElement: CalendarElement | null = null

    #productsContainerElement: HTMLElement | null = null

    #promocodeInputElement: HTMLInputElement | null = null

    #products: Array<OrderProduct> = []

    #status = new ClassLinkedStatus(this, { success: false, error: false, pending: false })

    protected connectedCallback() {
      // if (!basketStore.items.length) {
      //   morph.navigate('/')
      // }

      document.documentElement.classList.add('order-page')

      this.#formElements = [...this.querySelectorAll('e-form')]
      this.#formElements.forEach((element) => {
        element.addEventListener('formSubmit', this.#formSubmitListener)
        element.addEventListener('formSuccess', this.#formSuccessListener)
        element.addEventListener('formError', this.#formErrorListener)
      })

      this.#timeGroupElements = [...this.querySelectorAll<InputGroupElement>('.order-form__time')]
      this.#timeGroupElements.forEach((element) => {
        element.addEventListener('inputGroupValueChange', this.#timeChangeListener)
      })

      this.#customDateInputElements = [
        ...this.querySelectorAll<HTMLInputElement>('[data-custom-date]'),
      ]

      this.#calendarModalElement = this.querySelector('#order-calendar')

      this.#calendarElement = this.querySelector('e-calendar')
      this.#calendarElement?.addEventListener('calendarPick', this.#calendarPickListener)

      this.#productsContainerElement = this.querySelector('.order-contents__products')

      this.#promocodeInputElement = this.querySelector('.order-form__promocode-input')

      orderStore.subscribe(this.#orderStoreChangeListener)
      basketStore.subscribe(this.#basketStoreChangeListener)
    }

    protected disconnectedCallback() {
      document.documentElement.classList.remove('order-page')

      orderStore.unsubscribe(this.#orderStoreChangeListener)
      basketStore.unsubscribe(this.#basketStoreChangeListener)

      this.#formElements.forEach((element) => {
        element.removeEventListener('formSubmit', this.#formSubmitListener)
        element.removeEventListener('formSuccess', this.#formSuccessListener)
        element.removeEventListener('formError', this.#formErrorListener)
      })

      this.#timeGroupElements.forEach((element) => {
        element.removeEventListener('inputGroupValueChange', this.#timeChangeListener)
      })

      this.#calendarElement?.removeEventListener('calendarPick', this.#calendarPickListener)

      this.#status.close()

      orderStore.setStep('basket')
    }

    #orderStoreChangeListener = () => {
      if (this.#promocodeInputElement) {
        this.#promocodeInputElement.value = orderStore.promocode
      }
    }

    #basketStoreChangeListener = () => {
      basketStore.items.forEach((item) => {
        let product = this.#products.find((product) => product.pid === item.pid)

        if (!product) {
          product = new OrderProduct(item)
          this.#productsContainerElement?.appendChild(product.element)
          this.#products.push(product)
        } else {
          product.setAmount(item.amount)
        }
      })

      this.#products = this.#products.filter((product) => {
        const item = basketStore.items.find((item) => item.pid === product.pid)

        if (!item) {
          product.element.remove()
          return false
        }

        return true
      })
    }

    #timeChangeListener = (e: InputGroupEvents['inputGroupValueChange']) => {
      const ct = e.currentTarget as InputGroupElement

      if (ct.input?.hasAttribute('data-custom-date')) {
        this.#calendarModalElement?.open()
      }
    }

    #calendarPickListener = () => {
      const d = this.#calendarElement!.pickedDate

      const dateString = `${d.day}-${d.month}-${d.year} ${d.hours}`

      this.#customDateInputElements.forEach((el) => {
        el.setAttribute('value', dateString)
      })
    }

    #formSubmitListener = () => {
      orderStore.setStep('order')
      this.#status.set('success', false)
      this.#status.set('error', false)
      this.#status.set('pending', true)

      morph.scrollElement.scroll({
        top: 0,
        behavior: 'instant',
      })
    }

    #formSuccessListener = () => {
      orderStore.setStep('complete')

      this.#status.set('pending', false)
      this.#status.set('success', true)

      morph.scrollElement.scroll({
        top: 0,
        behavior: 'instant',
      })
    }

    #formErrorListener = () => {
      this.#status.set('pending', false)
      this.#status.set('error', true)

      morph.scrollElement.scroll({
        top: 0,
        behavior: 'instant',
      })
    }
  }

  if (!customElements.get('e-order')) {
    customElements.define('e-order', OrderElement)
  }

  declare global {
    interface HTMLElementTagNameMap {
      'e-order': OrderElement
    }
  }
</script>
